.weather-box {
  padding-top: 0px;
}

.weather-icon {
  font-family: "Symbols Nerd Font";
  font-size: 48px;
  color: #7dcfff;
}

.weather-temp-main {
  font-size: 28px;
  font-weight: bold;
  color: #f0f0f0;
}

.weather-temp-min {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.4);
}

.weather-desc {
  font-size: 16px;
  color: #f0f0f0;
  font-weight: bold;
}

.weather-extra {
  font-family: "Symbols Nerd Font";
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.calendar {
  background-color: transparent;
  font-family: "CozetteVector Nerd Font", monospace;
  min-width: 520px;
}

.forecast-day {
  font-size: 13px;
  color: rgba(255,255,255,0.5);
  min-width: 32px;
}

.forecast-icon {
  font-family: "Symbols Nerd Font";
  font-size: 18px;
  color: #7dcfff;
}

.forecast-temp {
  font-size: 13px;
  color: rgba(255,255,255,0.7);
}



.calendar {
  background-color: transparent;
  font-family: "CozetteVector Nerd Font", monospace;
  color: #f0f0f0;
  border-color: transparent;
  font-size: 18px;
}

calendar header {
  background-color: transparent;
  color: #f0f0f0;
}

calendar button {
  background-color: transparent;
  color: #f0f0f0;
  border-radius: 6px;
}

calendar button:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

calendar .today {
  background-color: #cc241d;
  border-radius: 6px;
  color: white;
}

calendar .other-month {
  color: rgba(255, 255, 255, 0.2);
}