.workspace-button {
  margin: 0;
  background-color: #a8998443;
  border-radius: 16px;
  border: none;
  transition: all 0.25s ease;
  margin-top: 4px;      /* reducido de 10px */
  margin-bottom: 4px;   /* reducido de 10px */
  padding: 9px 2px;    /* top/bottom pequeño, left/right normal */
  min-height: 0;        /* elimina altura mínima que impone GTK */
}

.workspace-button.focused {
  background-color: #cc231d83; /* fondo #1F2130 con 80% opacidad */
  border-top: 0.1em solid transparent;
  transition: 0ms;
}

.workspace-button:hover {
  transform: translateY(-2px);
  background-color: #cc231dc1; /* ligero aclarado en hover */
}


.workspace-name {
  margin-right: 0px; /* espacio entre número y primer icono */
  margin-left: 0px; /* espacio entre número y primer icono */
  font-weight: bold;
  line-height: 1; /* evita que el texto descienda */
}

.workspace-name,
.workspace-content,
.workspace-icon {
  padding: 0;
  margin: 0;
  min-height: 10;
  line-height: 1;
  font-size: 14px;
}
.workspace-icon:first-child {
  margin-left: 0;
}
.workspace-icon.empty {
  color: #666; /* sin ventana */
}

.workspace-separator {
  margin-right: -0px;
  background-color: rgba(255,255,255,0.3); 
}

/* Base */
.workspace-button.special {
  padding: 0.25rem 0.6rem;
  background-color: transparent;
  border-radius: 8px;
  border: none;
}

/* Inactivo */
.workspace-button.special.inactive {
  opacity: 0.5;
}

/* Activo */
.workspace-button.special.active {
  opacity: 1;
  border-bottom: 0.15em solid #e06c75;
}

/* Hover */
.workspace-button.special:hover {
  background-color: rgba(31, 33, 48, 1);
}

.special-workspace-widget{
  border-radius: 8px;
}