.time-label{
  font-family: "CozetteVector Nerd Font", monospace;
  font-size: 18px;
}

.calendar{
  background-color: transparent;
  min-width: 330px;
  font-family: "CozetteVector Nerd Font", monospace;
}

.today{
  background-color: red;
  border-radius: 10px;
}