.sys-overlay{
  background-color: rgba(31, 33, 48, 0.9); /* fondo #1F2130 con 80% opacidad */
}

.button.power {
    font-size: 20px;
    background-color: transparent;
    border-radius: 0px;
    font-family: 'Symbols Nerd Font';
}

.sysmenu-widget {
    font-size: 18px;
    color: cyan;
}

.separator{
    margin: 10px;
}